@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex: 0 0 auto;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  font-size: 20px;
}

img {
  max-width: 100%;
}

body {
  font-family: "Nunito", sans-serif;
}

/********* COMMON SEGMENTS ***********/
.align-center {
  align-items: center;
}
.container {
  width: 1200px;
  margin: auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  background-color: #21b573;
  border-radius: 30px;
  display: inline-block;
  padding: 8px 21px;
  color: white;
  margin: 20px 0px 20px;
  font-weight: 700;
}

.head h1 {
  text-align: center;
  font-size: 50px;
  color: #0f123cdb;
  margin-bottom: 20px;
  font-weight: 700;
}
/*********  HEADER START **********/

.banner-section {
  background-color: #f5f5fa;
}

.logo {
  width: 20%;
  padding: 20px;
}

nav {
  width: 80%;
  padding: 20px;
}

nav ul {
  justify-content: flex-end;
}

nav ul li a {
  padding: 10px 20px;
  color: rgb(36, 34, 34);
  transition-duration: 0.3s;
  font-weight: bold;
}

nav ul li :hover {
  color: white;
  background-color: #21b573;
  border-radius: 30px;
}

.banner-content {
  width: 50%;
  padding: 30px 20px;
}

.banner-content span {
  color: #21b573;
  font-size: 74px;
}

.banner-content h4 {
  color: #9c1c1cda;
  padding: 10px 0px 0px;
  font-size: 20px;
}

.banner-content h1 {
  font-size: 66px;
  padding: 5px 0px 10px;
  line-height: 1.2;
  color: #2c3131f5;
}

.banner-content p {
  font-size: 20px;
  color: #414141;
  padding: 10px 0px;
}

.banner-image {
  width: 50%;
  padding: 52px;
}

/*********  FEATURES START **********/

.features-section {
  padding: 40px 0px;
}
.col-4 {
  width: 25%;
  padding: 26px 20px;
}
.feature {
  text-align: center;
  background-color: #f5f5fa;
  padding: 69px;
  border-radius: 20px;
}
.feature img {
  height: 100px;
}
.feature h2 {
  padding: 10px 0px;
  font-size: 20px;
  color: #0f123cdb;
}
.feature p {
  font-size: 15px;
  color: #333136;
}
.feature:hover {
  background-color: white;
  box-shadow: -1px 12px 20px 7px #e9e9f3;
}

/*********  COURSE START **********/
.course-section {
  margin: 60px 0px;
}

.col-3 {
  width: 33.33%;
  padding: 20px;
}

.course {
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: -1px 12px 20px 7px #e9e9f3;
}

.course h1 {
  padding: 20px 0px 10px;
  font-size: 24px;
  color: #2c3131f5;
}

.course p {
  padding: 0px 0px 10px;
  font-size: 16px;
  color: #0f123cdb;
}

.course ul {
  display: flex;
  justify-content: space-between;
}

.course ul {
  font-size: 16px;
  text-align: center;
  color: rgb(36, 36, 82);
}

/*********  TESTIMONIAL START **********/
.testimonial {
  margin: 60px 0px;
}
.col-2 {
  align-items: center;
}
.client-img {
  width: 15%;
  padding: 20px;
}

.client-review {
  width: 55%;
  padding: 20px;
}
.client-review p {
  font-size: 15px;
  line-height: 1.7;
  color: #0f123cdb;
}

.testimonial .flex {
  justify-content: center;
}

/*********  FOOTER START **********/

footer {
  margin-top: 80px 0px 0px;
  background-color: #282531;
  padding: 80px 0px 20px;
}

footer p {
  font-size: 20px;
  color: white;
}

footer .col-1-4 {
  width: 40%;
  padding-right: 50px;
  padding-left: 20px;
}
footer .col-2-4 {
  width: 20%;
}

footer .col-1-4 p {
  font-size: 18px;
}
footer .col-2-4 ul li strong {
  color: #21b573;
  font-size: 20px;
}
footer .col-2-4 ul li a {
  color: rgb(237, 230, 243);
  font-weight: 200;
  line-height: 2;
}

footer .copyright {
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 80px;
}

footer .copyright a {
  display: inline-block;
  color: #21b573;
}
